.add-user-container {
  width: 100%;
  max-width: 800px; 
  margin: 0 ;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

.add-user-header {
  display: flex;
  align-items: center;
  gap: 15px; 
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.header-icon {
  width: 32px;
  height: 32px;
}

.add-user-title {
  color: #074A82;
  font-size: 24px;
  font-weight: 700;
  margin: 0; 
}

.form-group {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  color: #707070;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  
  width: 150px; 
  text-align: left; 
  margin-right: 20px; 
  flex-shrink: 0; 
}

.form-input {
  background: #ffffff;
  padding: 12px 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #A32C65;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
  
  flex: 1; 
}

.form-input:focus {
  border-color: #074a82;
}