html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px; 
  box-sizing: border-box; 
}

.logo {
  width: 289px;
  height: auto;
  margin-bottom: 60px;
  
}

.inputs {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputs input {
  background: #ffffff;
  padding: 14px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #A32C65;
  line-height: 19px;
  box-shadow: 0px 4px 8px #00000029;
  box-sizing: border-box;
  width: 100%;
}

.inputs input::placeholder {
  color: #074a82;
}

.inputs button {
  margin-top: 25px;
  padding: 14px;
  border-radius: 5px;
  border: none;
  background: #a32c65;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  line-height: 20px;
  box-shadow: 0px 4px 8px #00000029;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.forgot {
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #074a82;
  line-height: 15px;
  text-decoration: none;
  display: block;
}

@media (max-width: 480px) {
  .inputs,
  .forgot {
    width: 90%;
  }

  .logo {
    width: 180px;
    margin-bottom: 40px;
  }
}