html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.inputs {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputs input {
  background: #ffffff;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #074a82;
  line-height: 19px;
  box-shadow: 0px 4px 8px #00000029;
}

.inputs input::placeholder {
  color: #074a82;
}

.inputs button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #a32c65;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  line-height: 19px;
  box-shadow: 0px 4px 8px #00000029;
  cursor: pointer;
}

.forgot {
  margin-top: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #074a82;
  line-height: 15px;
  text-decoration: none;
}

@media (max-width: 480px) {
  .inputs {
    width: 90%;
  }

  .logo {
    width: 120px;
  }
}
